# Виртуальное окружение
.venv/

# PyCharm/IDEA
.idea/

# Чувствительные данные
telegram/config/consts.py

# Лог файлы
*.log

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# Системные файлы
.DS_Store
Thumbs.db

# Разное
*.env
.env.*

# логи
logs/